*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(206, 206, 206);
    /* background-image: url(https://cdn.pixabay.com/photo/2022/03/28/10/06/mountain-7097104_960_720.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    color: rgb(6, 16, 24);
}

h2{
    font-size:30px
}
#nav i{
    font-size: 30px;
    cursor: pointer;
}

#full{
    height: 100%;
    width: 40%;
    position: absolute;
    background-color: #e0dccf85;
    top: 0;
    right: -40%;
    backdrop-filter:blur(10px) ;
     /* ayo backdrop-filter property le chai background lai matra blur garxa ani tesko background-color chai 50% kam hunu parxa */
    padding: 140px 50px;

    }

    #full h4{
        font-size: 40px;
        
    }

    #full i{
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: aliceblue;
        padding: 10px;
        font-size: 20px;
        border-radius: 50%;
        cursor: pointer;
    }